@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans:wght@300&display=swap');



  $primaryFont: 'Open Sans', sans-serif;
  $secondFont:  'Merriweather', serif;


  $primaryColor: #F0F1F1;
  $secondColor: #5E5322;
  $thirdColor: #FAD648;
  $accentColor: #737373;
  $alternativeColor: #3C3C3C;
