article{
    height: 624px;
    width: 100%;
    display: flex;


    flex-direction: column;
  
   
    .article_title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        font-family: $primaryFont;
        h1{
            font-size: 38px;
            margin-bottom: 30px;
        }
      
    }
    .article_config{
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #F0F1F1;
        flex-direction: row;
        align-items: center;
        
     
       
     
            .article{
                width: 100%;
                display: flex;
                justify-content: space-around;
                
                height: 100%;
                @include mobile {
                    flex-direction: column;
                    
                }
               
               
               .article_element{
                   display: flex;
                   flex-direction: column;
                   align-items: center;    
                   text-align: center;   
                   color: #3C3C3C;  
                   font-family: $primaryFont;    
                   img{
                       height: 83px;
                       margin-bottom: 10px;
                      
                   }
                   h1{
                       margin-bottom: 21px;
                       font-size: 18px;
                       font-weight: bold;
                   }
                   p{
                       font-size: 16px;
                       border-top: 1px solid #3C3C3C;
                       padding-top: 10px;

                   }
                  
               }

        
       
        }

      
    }
    .article_button{
        width: 100%;
        height: 25%;
        display: flex;
       
      a{
        margin:35px auto;
        border: 1px solid #3C3C3C;
        width: 310px;
        height: 120px;
       text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #3C3C3C;
        font-family: $primaryFont;
        font-size: 36px;
        text-decoration: none;
  
      }
        
    }
}