.concern{
    width: 100%;
    height: 100vh;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $primaryFont;
    .concern_contain{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .concern_tittle{
        width: 100%;
       height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
   
        img{
            width: 253px;
            margin-bottom: 50px;
        }
        h1{
            font-size: 38px;
            font-weight: bold;
           
            margin-bottom: 30px;
        }
       
        div{
            flex-direction: row;
            max-width: 1000px;
           
            width: 100%;
            max-height: 79px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 70px;
            a{
                font-weight: bold;
                height: 100%;
                width: 100%;
                justify-content: center;
                align-items: center;
                display: flex;
                font-size: 24px;
              
                text-decoration: none;
                color: #3C3C3C;
                
            }
            
          
        }
        p{
            font-weight: bold;
            width: 640px;
            height: 94px;
            font-size: 22px;
            justify-content: center;
            align-items: center;
            display: flex;
            text-align: center;
        }
       
    }
    .concern_element{
        width: 100%;
        
        
       
    }
    .concern_content{
        width: 1350px;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;

        ul{
            display: flex;
            padding-left: 15px;
            padding-right: 15px;
            
          }
        }
        li{
            display: inline-block;
            padding-left: 15px;
            padding-right: 15px;
          
        }
        
    }


.concern_position{
    display: flex;
    height: 100%;
    width: 100%;
}


.fund_contain{
    max-width: 1344px;
    width: 100%;
    height: 81px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #3C3C3C;
    align-items: center;
   
    h2{
      font-size: 26px;
      font-weight: bold;
    }
    p{
font-size: 18px;
font-weight: bold;
    }
    i{
        font-size: 18px;
    }
   

}



#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
}
.pagination{
    width: 100%;
    height: 100px;
   
}
.page-link{
    width: 100%;
    height: 100%;
   
}

.pagination{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: $primaryFont;
    align-items: center;
    a{
        text-decoration: none;
        color: black;
        padding: 5px 10px;
        border: 1px solid white;
        &:hover{
            border: 1px solid black;
           
            
        }
    }
}



