.form_info{
    width: 100%;
    height: 180px;
    background-color: #FAD648;
    .form_info_content{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        max-width: 1400px;
        font-family: $primaryFont;
        width: 100%;
        height: 100%;
    }
    h1{
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    p{
        font-size: 22px;

    }
}




.form_app_element{
    display: flex;
    
    p{
        display: flex;
    }
}
.form_flex{
    display: flex;
}
.form_elements2{
    display: flex;
    flex-direction: column;
}
.Form_first{
    height: 100%;
    width: 50%;
    display: flex;
    margin-left: 142px;
    justify-content: center;
    flex-direction: column;
    font-family: $primaryFont;
    font-weight: bold;
    h1{
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 10px;
    }
   a{
       display: flex;
       align-items: center;
       justify-content: center;
        width: 180px;
        height: 79px;
        border:  1px solid #3C3C3C;
        text-decoration: none;
         color: #3C3C3C;
         margin-top: 70px;
    }
   div{
       display: flex;
       align-items: center;
       text-align: left;
       margin-bottom: 46px;
     
       
      input{
          cursor: pointer;
            width: 40px;
            height: 40px;
           border: 1px solid #3C3C3C;
           display: flex;
           -webkit-appearance: none;
            margin: 0 !important;
            border-radius: 0 !important;
            &:checked{
                background-color: #FAD648;
            }
        
         
      
       }
      p{
        margin-left: 30px;
      }

  
     
   }
}
.forms_app{
    width: 100%;
    height: 80vh;
    background-image: url("../../assets/Background-Form.jpg");
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.form_app{
   position: relative;
    width: 100%;
    height: 100%;
 

}

.form_steps{
 position: absolute;
 left: 142px;
 top: 40px;
}

.multi_button {
    margin-left: 142px;
    button{
        width: 180px;
        height: 79px;
        background: none;
        border: 1px solid black;
        margin-right: 10px;
    }
   
}
.second_form_element{
    display: flex;
    margin-left: 143px;
    font-family: $primaryFont;
    font-size: 24px;
    align-items: center;
    margin-bottom: 405px;
  
    margin-top:57px;
  
    select{
        width: 300px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        font-size: 24px;
        font-family: $primaryFont;
        margin-left: 44px;
        background-color: transparent;
      
      
    }
}
.second_element{
    width: 85px;
    background: none;
    background-color: transparent;
}
