@import '../config/mixin';


nav{
    
    font-family: $primaryFont;
    display: flex;
    max-width: 683px;
    width: 100%;
    height: 95px;
    @include mobile{
       
        align-items: center;
        width: 100%;
        justify-content: center;
       
    }







    .nav_contain{
        margin-top: 15px;
        
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        width: 100%;
        height: 100%;
       
       .login_contain{
          
           flex-direction: row;
           display: flex;
           justify-content: flex-end;
           height: 100%;
          

           
           
           a{
               font-size: 13px;
               height: 19px;
               margin-left: 30px;
               margin-right: 10px;
               text-decoration: none;
               overflow: hidden;
               border: 1px;
               padding: 10px 15px;
               color: #3C3C3C;
               border: 0.25px solid white;

            
             
               
             
               &:hover{
                    border:1px solid $thirdColor;
               }
           }
       }
        
      

        .menu{
           
          
            display: flex;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            @include mobile{
       
                align-items: center;
                width: 100%;
                justify-content: center;
               
            }
        
            .react_scroll{
                   
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    border: 1px solid white;
                    text-decoration: none;
                    font-size: 18px;
                    padding: 9px 20px;
                    color: #3C3C3C;
                    cursor: pointer;
                   
                   
            
                   &:hover{
                    border: 1px solid #3C3C3C;
            }
            a{
                text-decoration: none;
                color: #3C3C3C;
                width: 100%;
                height: 100%;
                font-family: $primaryFont;
                font-weight: bold;
               
               
            }
           
        }
    }
}
}
