@import './config/color';
@import './general/nav';
@import './config/reset';
@import './general/header';
@import './general/info';
@import './general/article';
@import './general/aboutUs';
@import './general/contact';
@import './general/concern';
@import './general/login';
@import './general/headerApp';
@import './general/formApp';
@import './config/mixin';

